# [About code owners](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners)


# These owners will be the default owners for everything in
# the repo.
*           @gregwhitworth @mfreed7 @keithamus @lukewarlow



# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#  *.js    @js-owner #This is an inline comment.
/site/src/pages/components/*invokers.explainer.mdx @gregwhitworth @mfreed7 @keithamus @lukewarlow
/site/src/pages/components/*openable.explainer.mdx @gregwhitworth @mfreed7 @keithamus @lukewarlow @scottaohara
/site/src/pages/components/*focusgroup.explainer.mdx @gregwhitworth @mfreed7 @keithamus @lukewarlow @travisleithead @janewman
/site/src/pages/components/menu.explainer.mdx @gregwhitworth @mfreed7 @keithamus @lukewarlow @domfarolino @josepharhar
/site/src/pages/components/navigation-bar.explainer.mdx @gregwhitworth @mfreed7 @keithamus @lukewarlow @domfarolino @mfreed7
/site/src/pages/components/press-button.explainer.mdx @gregwhitworth @mfreed7 @keithamus @lukewarlow @scottaohara
/site/src/pages/components/toolbar.explainer.mdx @gregwhitworth @mfreed7 @keithamus @lukewarlow @scottaohara
/site/src/pages/components/*select.* @gregwhitworth @mfreed7 @keithamus @lukewarlow @josepharhar
/site/src/pages/components/*selectlist.* @gregwhitworth @mfreed7 @keithamus @lukewarlow @josepharhar
/site/src/pages/components/*selectmenu.* @gregwhitworth @mfreed7 @keithamus @lukewarlow @josepharhar
/site/src/pages/components/enhanced-range-input.explainer.mdx @gregwhitworth @mfreed7 @keithamus @lukewarlow @brechtDR
/site/src/pages/components/accordion.explainer.mdx @gregwhitworth @mfreed7 @keithamus @lukewarlow @dbaron
/site/src/pages/components/accordion.research.mdx @gregwhitworth @mfreed7 @keithamus @lukewarlow @dbaron
/site/src/pages/components/disclosure.research.mdx @gregwhitworth @mfreed7 @keithamus @lukewarlow @dbaron
/site/src/pages/components/*combobox* @gregwhitworth @mfreed7 @keithamus @lukewarlow @dbaron @josepharhar
