# https://help.github.com/en/articles/about-code-owners

*           @gregwhitworth @levithomason

/platform/  @gregwhitworth
/research/  @levithomason


# Editors
# --------------------------------

# Specification Template
/research/src/pages/component-spec-template.mdx   @EisenbergEffect

# Select
/research/src/pages/select.research.mdx           @gregwhitworth
/research/src/pages/select.proposal.mdx           @gregwhitworth
/research/src/pages/select.behavior.mdx           @gregwhitworth