# [About code owners](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners)


# These owners will be the default owners for everything in
# the repo.
*           @gregwhitworth @mfreed7 @keithamus @lukewarlow @hidde



# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#  *.js    @js-owner #This is an inline comment.
/site/src/pages/components/*invokers.explainer.mdx @lukewarlow @keithamus @gregwhitworth @mfreed7 @dbaron
/site/src/pages/components/*openable.explainer.mdx @lukewarlow @scottaohara @gregwhitworth @mfreed7 @dbaron
/site/src/pages/components/*focusgroup.explainer.mdx @travisleithead @gregwhitworth @mfreed7 @dbaron @janewman
/site/src/pages/components/menu.explainer.mdx @domfarolino @dizhang168 @josepharhar @mfreed7
/site/src/pages/components/press-button.explainer.mdx @lukewarlow @scottaohara @gregwhitworth @mfreed7 @dbaron
/site/src/pages/components/*select.* @josepharhar @mfreed7 @gregwhitworth
/site/src/pages/components/*selectlist.* @josepharhar @mfreed7 @gregwhitworth
/site/src/pages/components/*selectmenu.* @josepharhar @mfreed7 @gregwhitworth
/site/src/pages/components/enhanced-range-input.explainer.mdx @brechtDR
/site/src/pages/components/accordion.explainer.mdx @dbaron @mfreed7 @gregwhitworth @keithamus @lukewarlow @hidde
/site/src/pages/components/accordion.research.mdx @dbaron @mfreed7 @gregwhitworth @keithamus @lukewarlow @hidde
/site/src/pages/components/disclosure.research.mdx @dbaron @mfreed7 @gregwhitworth @keithamus @lukewarlow @hidde
/site/src/pages/components/*combobox* @gregwhitworth @mfreed7 @keithamus @lukewarlow @hidde @josepharhar
