:root {
  --font-size-base: 16px;
  --color-text: hsl(12, 5%, 4%);
  --color-border: hsl(17, 24%, 90%);
}

html {
  font-size: var(--font-size-base);
  color: var(--color-text);
  font: 'Source Sans Pro', 'Helvetica Neue', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  font-kerning: normal;
  margin: 0;
}

img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.125rem;
}
h1 {
  padding-bottom: 0.375rem;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 2.25rem;
  color: inherit;
  font-family: 'Cabin', 'Helvetica Neue', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  font-size: 2rem;
  line-height: 1.1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
h2 {
  margin-top: 1.5rem;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0.75rem;
  color: inherit;
  font-family: 'Cabin', 'Helvetica Neue', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  font-size: 1.51572rem;
  line-height: 1.1;
}
h3 {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.125rem;
  color: inherit;
  font-family: 'Cabin', 'Helvetica Neue', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  font-size: 1.31951rem;
  line-height: 1.1;
}
h4 {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.125rem;
  color: inherit;
  font-family: 'Cabin', 'Helvetica Neue', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.125rem;
  color: inherit;
  font-family: 'Cabin', 'Helvetica Neue', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  font-size: 0.87055rem;
  line-height: 1.1;
}
h6 {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.125rem;
  color: inherit;
  font-family: 'Cabin', 'Helvetica Neue', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  font-size: 0.81225rem;
  line-height: 1.1;
}

ul,
ol {
  margin-left: 1.5rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.125rem;
  list-style-position: outside;
  list-style-image: none;
}

p {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.125rem;
}
figure {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.125rem;
}

table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.125rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.125rem;
}
blockquote {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.125rem;
  padding: 1em;
  margin: 0 0 1.5rem 0;
  color: #555;
  background: #f6f6f6;
  border-left: 4px solid #ccc;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.125rem;
}
b,
strong,
dt,
th {
  font-weight: 700;
}

li {
  margin-bottom: 0.375rem;
}
ol li,
ul li {
  padding-left: 0;
}

li > ul,
li > ol {
  margin-left: 1.5rem;
  margin-bottom: calc(1.125rem / 2);
  margin-top: calc(1.125rem / 2);
}
blockquote *:last-child,
li *:last-child,
p *:last-child {
  margin-bottom: 0;
}

li > p {
  margin-bottom: calc(1.125rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.5rem;
  background: rgba(0, 0, 0, 0.05);
  padding: 0 0.25em;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: 'tnum';
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: calc(0.75rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
a {
  color: #007a3d;
  text-decoration: none;
}

nav {
  margin-right: 2em;
}

nav > ul {
  position: sticky;
}

@media (max-width: 640px) {
  nav {
    display: none;
    margin-right: 0;
  }

  nav > ul {
    position: static;
  }

  nav.opened {
    display: block;
  }
}

/*      Community Links    */

.community-links {
  display: flex;
}

.community-links > a {
  text-decoration: none;
}

.community-links.mobile {
  display: none;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

@media (max-width: 640px) {
  .community-links {
    display: none;
  }

  .community-links.mobile {
    display: flex;
  }
}

/*      AnchorJS    */
.anchorjs-link {
  color: #aaa;
  transition: margin-left 0.25s linear;
}
.anchorjs-link:hover {
  color: #007a3d;
}
*:hover > .anchorjs-link {
  transition: color 0.25s linear;
  margin-left: -1.125em;
}

.false {
  background: #d04747;
  color: white;
}

.true {
  background: #a3edac;
}

table.research td:not(.true):not(.false) {
  background: #ffffca;
}

table.nowrap-first-column td:nth-child(1):not(.false):not(.true) {
  background: initial;
}

/* Should be applied to a td/th 
if you want to have it be the max-content
width */
table.research .nowrap,
table.nowrap-first-column td:nth-child(1) {
  width: 1%;
  white-space: nowrap;
}

table.research td.center,
table.research th.center {
  text-align: center;
}

.bold-text {
  font-weight: bold;
}

/* Component Anatomy */
/* General */
.component-anatomy .slot {
  font-family: 'Segoe UI', sans-serif;
}

.component-anatomy li {
  margin: 1em;
}

.component-anatomy code {
  background: #eee;
  border: 1px solid #ccc;
  padding: 0.2em;
}

.component-anatomy .flex {
  display: flex;
}

.component-anatomy .flex.grow > * {
  flex: 1 1 auto;
}

/* Anatomy boxes */

.component-anatomy .host,
.component-anatomy .slot,
.component-anatomy .part,
.component-anatomy .element {
  background: rgba(12, 85, 87, 0.2);
  min-height: 25px;
  border: 1px solid black;
  display: block;
  margin: 1em;
  padding: 0.5em;
  position: relative;
}

.component-anatomy .part,
.component-anatomy .element {
  border: 2px solid black;
}

.component-anatomy .host::before,
.component-anatomy .slot::before,
.component-anatomy .part::before,
.anatomy-label::before {
  display: block;
  position: absolute;
  top: 0.1em;
  font-size: 0.7em;
  font-family: 'Segoe UI', sans-serif;
  padding: 0.25em 0.5em;
  background: rgba(25, 25, 25, 0.6);
  color: white;
  left: 0;
  top: 0;
  content: attr(data-name);
}

.component-anatomy .slot::before {
  content: 'slot';
}

.component-anatomy .slot:not([data-name=''])::before {
  content: attr(data-name) ' [slot]';
}

.component-anatomy .host {
  border: 5px solid black;
}

.component-anatomy .slot {
  text-align: center;
  border: 1px dashed black;
  color: white;
}

#show-slots:not(:checked) ~ .component-anatomy .slot::before {
  display: none;
}

#show-slots:not(:checked) ~ .component-anatomy .slot {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}
