.false {
  background: #cf4646;
  color: white;
}

.true {
  background: #a3edac;
  color: black;
}

table.research td:not(.true):not(.false) {
  background: #ffffca;
  color: black;
}

table.nowrap-first-column td:nth-child(1):not(.false):not(.true) {
  background: initial;
  color: initial;
}

/* Should be applied to a td/th 
if you want to have it be the max-content
width */
table.research .nowrap,
table.nowrap-first-column td:nth-child(1) {
  width: 1%;
  white-space: nowrap;
}

table.research td.center,
table.research th.center {
  text-align: center;
}

.bold-text {
  font-weight: bold;
}

.bg-transparent {
  background: transparent;
}

.two-col-table {
  display: flex;
  flex-direction: row;
}

.two-col-table > div:first-child {
  flex: 1;
}

.two-col-table > div + div {
  width: 20%
}