<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Open UI Select Demos</title>
  </head>
  <body>
  <h1>Select</h1>
    <p>The following demos utilize the current control implementation to see the
    <ul>
      <li><a href="demos/base/">Base component</a></li>
      <li><a href="demos/base-styles/">Base with base styles</a></li>
      <li><a href="demos/firefox-desktop/">Firefox desktop (Windows)</a></li>
      <li><a href="demos/chromium-desktop-win/">Edge desktop (Windows)</a></li>
      <li><a href="demos/safari-desktop/">Safari desktop (MacOSX)</a></li>
    </ul>

    <script src="../../dist/bundle.js"></script>
  </body>
</html>