/* Custom datepicker part colors */

.datepicker-anatomy host {
  background: #555;
}

.datepicker-anatomy part[name='cell'] {
  background: rgba(19, 215, 81, 0.75);
}

.datepicker-anatomy part[name='header-cell'] {
  background: rgba(200, 150, 81, 0.75);
}

.datepicker-anatomy part[name='header'],
.datepicker-anatomy part[name='calendar'],
.datepicker-anatomy part[name='footer']  {
  background: rgba(206, 186, 240, 0.75);
  text-align: center;
}

.datepicker-anatomy part[name='control'] {
  background: rgba(0, 255, 213, 0.75);
  text-align: center;
}

.datepicker-anatomy part[name='calendar-header'],
.datepicker-anatomy part[name='calendar-body']{
  background: rgba(83, 0, 226, 0.75);
  text-align: center;
}

.datepicker-anatomy part[name='input-block'],
.datepicker-anatomy part[name='calendar-modal'] {
  background: rgba(247, 154, 255, 0.75);
}

.datepicker-anatomy part[name='input'] {
  background: rgba(145, 255, 0, 0.75);
}

.datepicker-anatomy part[name='clear'],
.datepicker-anatomy part[name='icon'] {
  background: rgba(255, 136, 0, 0.75);
}

/* Custom row layout styles */

.datepicker-anatomy part[name='input'],
.datepicker-anatomy part[name='control'] {
  flex: 1;
}

.datepicker-anatomy part[name='icon'],
.datepicker-anatomy part[name='clear'] {
  width: 5%;
}

.datepicker-anatomy part[name='input-block'], 
.datepicker-anatomy part[name='header'] {
  display: flex;
  justify-items: stretch;
}

.datepicker-anatomy part[name='calendar-header'],
.datepicker-anatomy part[name='calendar-body'] {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

.datepicker-anatomy part[name='header-cell'],
.datepicker-anatomy part[name='cell'] {
  display: block;
}
