/*       Header     */
.header-menu-btn[type='button'] {
  display: none;
  padding: 0.25em 0.5em;
  appearance: none;
  border: 0;
  background: none;
  color: white;
  cursor: pointer;
}

.header-menu-btn[type='button']:hover {
  background-color: #666;
}

@media (max-width: 640px) {
  .header-menu-btn[type='button'] {
    display: block;
  }
}

/*    Page Wrapper  */

.page-wrapper {
  display: flex;
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 1200px;
}

@media (max-width: 640px) {
  .page-wrapper {
    flex-direction: column;
  }
}

/*      Community Links    */
.community-links {
  display: block;
}

.community-links.mobile {
  display: none;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

@media (max-width: 640px) {
  .community-links {
    display: none;
  }

  .community-links.mobile {
    display: flex;
  }
}

/*      Site Nav    */
#site-nav {
  margin-right: 2em;
}

#site-nav > ul {
  position: sticky;
}

@media (max-width: 640px) {
  #site-nav {
    display: none;
    margin-right: 0;
  }

  #site-nav > ul {
    position: static;
  }

  #site-nav.opened {
    display: block;
  }
}

/*      AnchorJS    */
.anchorjs-link {
  color: #aaa;
  transition: margin-left 0.25s linear;
}
.anchorjs-link:hover {
  color: #007a3d;
}
*:hover > .anchorjs-link {
  transition: color 0.25s linear;
  margin-left: -1.125em;
}

.false {
  background: #d04747;
  color: white;
}

.true {
  background: #a3edac;
}

table.research td:not(.true):not(.false) {
  background: #ffffca;
}

table.nowrap-first-column td:nth-child(1):not(.false):not(.true) {
  background: initial;
}

/* Should be applied to a td/th 
if you want to have it be the max-content
width */
table.research .nowrap,
table.nowrap-first-column td:nth-child(1) {
  width: 1%;
  white-space: nowrap;
}

table.research td.center,
table.research th.center {
  text-align: center;
}

.bold-text {
  font-weight: bold;
}
