---
import Image from './image.astro'

const siteTitle = 'Open UI'
---

<a href="/">
  <Image
    src="/images/logo-green.png"
    style={{ height: '2.75em', width: '2.75em', marginRight: '0.25rem' }}
    alt={siteTitle}
  />
  <strong>{siteTitle}</strong>
</a>

<style>
  a {
    text-decoration: none;
    color: inherit
  }

  strong {
    vertical-align: middle
  }
</style>