/* General */
  slot {
    font-family: "Segoe UI", sans-serif;
  }

  li {
    margin: 1em;
  }
  
  code {
    background: #eee;
    border: 1px solid #ccc;
    padding: .2em;
  }

  .flex {
    display: flex;
  }

  .flex.grow > * {
    flex: 1 1 auto;  
  }
  
  /* Anatomy boxes */
  
  host, slot, part {
    background: rgba(61, 159, 160, .75);
    min-height: 25px;
    border: 2px solid ;
    display: block;
    margin: 1em;
    padding: .5em;
    position: relative;
  }
  
  host::before, slot::before, part::before {    
    display: block;
    position: absolute;
    top: .1em;
    font-size: .7em;
    font-family: "Segoe UI", sans-serif;
    padding: .25em .5em;
    background: rgba(25, 25, 25, .6);
    color: white;
    left: 0;
    top: 0;
  }
  
  host::before {
    content: "::host";    
  }
  
  slot {
    background: rgba(253, 230, 34, 1);
    text-align: center;
  }
  
  slot::before {
    content: "slot";
  }

part {
  background: rgba(19, 215, 81, .75);
}

part::before {
  content: "::part-" attr(name);
}
