.specimens-wrapper {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.specimens {
  display: flex;
  flex-wrap: wrap;
}

.specimens-wrapper .specimen {
  display: flex;
  flex: 0 0 auto;
  max-width: 100%;
  flex-direction: column;
  padding: 16px;
  text-align: center;
}

.specimens-wrapper .image-wrapper {
  margin: auto auto 0 auto;
  padding: 8px;
}

.specimens-wrapper .specimens-text-content {
  position: relative;
  padding: 4px 8px;
  min-width: 120px;
  line-height: 1;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid #ccc;
  font-size: 0.8rem;
}

.specimens-wrapper .description {
  font-size: calc(1rem / 1.2);
}
