---
const { title } = Astro.props;

import '@fontsource/source-sans-pro/400.css'
import '@fontsource/source-sans-pro/700.css'
import '@fontsource/cabin/400.css'
import '@fontsource/cabin/700.css'
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/svg+xml" href="/images/favicon-32x32.png" />
  <link rel="stylesheet" href="/styles/reset.css" />
  <link rel="stylesheet" href="/styles/global.css" />
  <title>{title}</title>
  <meta name="description" content="Open UI "/>
  <meta property="og:title" content={title}/>
  <meta property="og:description" content="Open UI "/>
  <meta property="og:type" content="website"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:creator" content="Open UI"/>
  <meta name="twitter:title" content={title}/>
  <meta name="twitter:description" content="Open UI "/>
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <meta name="theme-color" content="#00a453"/>
  <link rel="manifest" href="/manifest.webmanifest">
</head>

<body>
  <slot  />
</body>
</html>