---
import BaseLayout from "./BaseLayout.astro";
import Header from "../components/header.jsx";
// import Navigation from "../components/navigation.jsx";
---

<BaseLayout>
  <div>
    <Header />
    <div class="page-wrapper">
      <!-- <Navigation /> -->
      <main class="page-content">
        <slot />
      </main>
    </div>
  </div>
</BaseLayout>