.community-links {
    display: flex;
  }
  
  .community-links > a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
  }
  
  .community-links > a:not(:first-child) {
    margin-left: 1em;
  }
  
  .community-links.mobile {
    display: none;
    justify-content: space-around;
    margin-bottom: 0.5rem;
  }
  
  @media (max-width: 640px) {
    .community-links {
      display: none;
    }
  
    .community-links.mobile {
      display: flex;
    }
  }