.concept {
    padding: 8px;
    margin-bottom: 36px;
}

.concept h3 {
    flex: 0 0 auto;
    width: 100%;
    text-align: left;
    line-height: 1;
    margin-bottom: .5em;
}

.with-other-names {
    margin-bottom: 0;
}

.concept h3 button {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    margin-right: 8px;
    background: none;
    border: none;
}

.concept h3 span {
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
}

.other-names-wrapper {
    color: #777;
    line-height: 1;
    margin-bottom: .5em;
}