.concept-coverage {
    display: inline-flex;
    vertical-align: middle;
}

.concept-coverage div {
    display: inline-flex;
    margin-right: 1px;
    width: 4px;
    height: 8px;
    border-radius: 2px; 
}

.concept-coverage .with-concept {
    background: #6C6;
}

.concept-coverage .without-concept {
    background: #ddd;
}