.concepts {
    display: flex;
    justify-content: space-between;
}

label[for=descriptions] {
    cursor: pointer;
    display: flex;
    align-items: center;
}

#descriptions {
    margin-right: 8px;
    vertical-align: middle;
}

label[for=collapse] {
    cursor: pointer;
}

#collapse {
    margin-right: 8px;
    vertical-align: middle;
    width: 0px;
    height: 0px;
}