/* Custom table part colors */

.table-anatomy host {
  background: #555;
}

.table-anatomy part[name='table-row'],
.table-anatomy part[name='table-header-row'] {
  background: rgba(253, 230, 34, 1);
  text-align: center;
}

.table-anatomy part[name='table-cell'] {
  background: rgba(19, 215, 81, 0.75);
}

.table-anatomy part[name='table-header-cell'] {
  background: rgba(200, 150, 81, 0.75);
}

.table-anatomy part[name='table-header'] {
  background: rgba(206, 186, 240, 0.75);
}

.table-anatomy part[name='table-title'] {
  background: rgba(247, 154, 255, 0.75);
}

.table-anatomy part[name='table-footer'] {
  background: rgba(206, 186, 240, 0.75);
}

.table-anatomy part[name='table-pagination'] {
  background: rgba(247, 154, 255, 0.75);
}

.table-anatomy part[name='page-item'] {
  background: rgba(255, 79, 240, 0.75);
  text-align: center;
}

/* Custom row layout styles */
.table-anatomy part[name='table-header-row'],
.table-anatomy part[name='table-row'],
.table-anatomy part[name='table-pagination'] {
  display: flex;
}

.table-anatomy part[name='table-header-cell'],
.table-anatomy part[name='table-cell'],
.table-anatomy part[name='page-item'] {
  flex: 1;
}
