.header-menu-btn[type='button'] {
  display: none;
  padding: 0.25em 0.5em;
  appearance: none;
  border: 0;
  background: none;
  color: white;
  cursor: pointer;
}

.header-menu-btn[type='button']:hover {
  background-color: #666;
}

@media (max-width: 640px) {
  .header-menu-btn[type='button'] {
    display: block;
  }
}
